services:
  user-service:
    build: ./user-service
    ports:
      - "3001:3001"
    networks:
      - app-network

  payment-service:
    build: ./payment-service
    ports:
      - "3002:3002"
    depends_on:
      - user-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge